
.Rhistory
hifiAsm5Cells-MitoAnnot_minFeat500__mito6_nCount1000-20000_nFeatmin600_082321_SctCCA_omitdims.rds
hifiAsm5Cells-MitoAnnot_minFeat500__mito6_nCount1000-20000_nFeatmin600_082321_StdCCA_omitdims.rds
hifiAsm5CellsMitoAnnot_minFeat500_All_list_082321.rds
Hisat_HiSeqCombined91820StdCCA.rds
.DS_Store
